doctype
html
	head
		title Jade
		link(rel="stylesheet", href="css/screen.css")
		script(src="js/libs/jquery.js")
		script(src="js/libs/utils.js")
		script(src="js/scripts.js")

		meta(name="viewport",content="width=device-width, initial-scale=1")


		//- Useful CDNs
		link(rel="stylesheet",href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css")

	body

		.container

			block content
