extends ./_layout.jade


block content

  - var activePage = 'home'
  include ./partials/header.jade

  h1  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Velit, obcaecati!

  include ./partials/footer.jade